<div id="root">react is bwoken D;</div>
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
<%= tag :meta, property: 'og:image', content: image_url('preview.png') %>
<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%=  render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
</script>
<% end %>

