.create-page-container {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: space-around;
  padding: 35px;
  margin: 20px 10px;
}

.create-sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 55px 35px 0px 20px;
  margin: 0 30px 0 10px;
}

@media all and (max-width: 1100px) and (min-width: 300px){
  .create-sidebar-container {
    display: none;
  }
}

.post-create-container {
  padding: 10px 15px 20px 34px;
  margin: 0 0px 0 60px;
  justify-content: space-between;
  height: 450px;
  min-width: 780px;
  max-width: 780px;
  display: flex;
  flex-direction: column;
}

.post-form-container {
  margin: 0px 0px 15px;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  justify-content: flex-start;  
  width: 100%;
  background-color: #FFF;
  border: 1px solid transparent;
  border-radius: 4px;
}

.tab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  outline: none;
  color: var(--newRedditTheme-actionIcon);
  font-family: IBM Plex Sans, Arial, sans-serif;
  cursor: pointer;
}

.tab-content path {
  fill: var(--newRedditTheme-actionIcon);
  max-width: 25px;
  height: 16px;
  margin-right: 10px;

}

.tab-content svg {
  fill: var(--newRedditTheme-actionIcon);
  max-width: 25px;
  height: 16px;
  margin-right: 10px;
}

.tab-button:hover, .tab-mid:hover, .tab-highlight:hover {
  background-color: #f3f8fd;
}

.content-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--newRedditTheme-button);
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  outline: none;
  font-family: IBM Plex Sans, Arial, sans-serif;
  cursor: pointer;
}

.content-highlight svg {
  fill: var(--newRedditTheme-button);
  max-width: 25px;
  height: 16px;
  margin-right: 10px;
}

.content-highlight path {
  // margin: 0 auto;
  fill: var(--newRedditTheme-button);
  max-width: 25px;
  height: 16px;
  margin-right: 10px;
}

.tab-container {
  border-radius: 0;
  box-sizing: border-box;
  border-style: solid;
  display: flex;
  width: inherit;
  margin: 0;
  padding: 0;
  max-height: 52px;
  justify-content: space-evenly;
  // border: 1px solid transparent;
  border-width: 0 0px 1px 0;
  border-color: var(--newRedditTheme-line);
  border-bottom: 1px solid var(--newRedditTheme-line);
  margin-bottom: 16px;
}

.tab-mid {
  border-left: 1px solid var(--newRedditTheme-line);
  border-right: 1px solid var(--newRedditTheme-line);
  border-top: none;
  border-bottom: none;
  padding: 10px 25px;
  display: block;
  width: 33.3%;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tab-highlight {
  max-height: 53px;
  padding: 10px 25px;
  display: block;
  width: 33.3%;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--newRedditTheme-button);
  border-bottom: 3px solid var(--newRedditTheme-button);
  // border-width: 0 4px 3px 0;
  // border-radius: 0 0 4px 0;
  cursor: pointer;
}



.tab-button {
  max-height: 53px;
  padding: 10px 25px;
  display: block;
  width: 33.3%;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


// .tab-text {
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 32px;
//   cursor: pointer;
//   outline: none;
//   color: var(--newRedditTheme-actionIcon);
//   font-family: IBM Plex Sans, Arial, sans-serif;
// }

// .active {
//   color: var(--newRedditTheme-button);
//   font-size: 14px;
//   font-weight: 700;
//   line-height: 32px;
//   cursor: pointer;
//   outline: none;
//   font-family: IBM Plex Sans, Arial, sans-serif;
// }

.title-bar {
  height: 39px;
  background-color: #FFF;
  padding: 8px 68px 8px 16px;
  margin-bottom: 20px;
}

textarea {
 font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: inherit;
  outline: none;
}

textarea:focus {
  border: 1px solid var(--newRedditTheme-actionIcon);
}

textarea.title-bar {
  resize: none;
  overflow-x: hidden; 
  overflow-wrap: break-word; 
  height: 39px;
  padding: 8px 68px 8px 16px;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid var(--newCommunityTheme-line);
  border-radius: 4px;
}

textarea.title-bar:focus {
  border: 1px solid var(--newRedditTheme-actionIcon);
}

.post-body-container {
  border: 1px solid #FFF;
  display: flex;
  width: inherit;
  justify-content: center;
  box-sizing: content-box;
  flex-direction: column;
}

.quill-styling {
  border-radius: 4px 4px 0 0;
  background-color: var(--newCommunityTheme-field);
  fill: var(--newCommunityTheme-actionIcon);
  color: var(--newCommunityTheme-actionIcon);
  border: 1px dashed var(--newCommunityTheme-line) !important;
  
}

// svg.quill-styling {
//   fill: var(--newCommunityTheme-actionIcon);
//   color: var(--newCommunityTheme-actionIcon);
// }


.create-post-body {
  background-color: #FFF;
  border: 1px dashed var(--newCommunityTheme-line);
  min-height: 280px;
  border-radius: 0 0 4px 4px;
  text-align: center;
  resize: none;
  flex-flow: row;
  display: flex;
  outline: none;
  // font-family: 'Noto Sans', sans-serif;
  // font-size: 14px;
  text-align: left;
  align-self: flex-start;
  flex-grow: 3;
  flex-basis: 100%;
  padding: 8px 16px;
}

.create-post-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 16px;
}

.create-form-bottom {
  justify-content: flex-end;
  display: flex;
  padding: 10px 16px 16px;
  align-content: center;
}

.post-btn {
  color: #FFF;
  width: 82px;
  height: 32px;
  background-color: var(--newCommunityTheme-buttonTinted80);
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid var(--newCommunityTheme-buttonTinted80);
  border-radius: 4px;
  outline: 0;
  transition: color .01s ease-in,text-indent .25s ease-in,opacity .25s ease-in;
  cursor: pointer;
}

.create-error {
  color: #ea0027;
  font-size: 12px;
  font-weight: 500px;
  display: flex;
  margin: 0px 10px;
}


h2.create-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--newCommunityTheme-bodyText);
  -ms-flex: 1;
  flex: 1;
  font-family: 'IBM Plex Sans', sans-serif;
}

.form-title {
  padding: 0px 4px 4px 4px;
  margin-bottom: 16px;
  border-bottom: solid 1px var(--newCommunityTheme-line);
  display: -ms-flexbox;
  display: flex;
}



