// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subcattit-feed {
  min-height: 1000px;
  width: 100%;
}

.subcattit-feed p {
  padding: 1px 1.2px 0px 3.5px;
}

.post-container {
 display: flex;
 width: 565px;
//  margin: 0 auto;
 flex-direction: column-reverse;
 box-sizing: border-box;
}

.feed-container {
 display: flex;
 width: 565px;
//  margin: 0 auto;
 flex-direction: column;
 box-sizing: border-box;
}

.karma-bar {
  display: flex;
  flex-direction: column;
  min-width: 40px;
  max-width: 40px;
  height: inherit;
  border-left: 4px solid transparent;
  align-items: center;
  justify-items: flex-start;
  box-sizing: border-box;
  padding: 12px 4px 8px 0px;
  background-color: #F8F9FA;
  color: rgb(135, 138, 140);
}

i.karma-bar {
  color: #878A8C;
  font-size: 16px;
}

span.karma-bar {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  word-break: normal;
  // padding: 10px 0px;

  // color: var(--newCommunityTheme-postIcon);
  color: #1A1A1B;
  font-family: IBMPlexSans, Arial, sans-serif;
}

// .content-container {
//   background-color: lightblue;
//   color: #1A1A1B;
//   font-size: 14px;
// }

.title-container {
  font-size: 18px;
  color: #222222;
  margin: 0px 8px;

}

.content {
  padding: 12px;
  padding-left: 18px;
  width: inherit;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-container a:active {
  color: #9b9b9b;
}

.post {
  display: flex;
  box-sizing: border-box;
  border: 1px solid var(--newCommunityTheme-postLine);
  background-color: #FFF;
  border-radius: 4px;
  min-height: 200px;
  width: 565px;
  justify-items: center;
  margin-bottom: 10px;
  overflow: hidden;
}

.post:hover {
  border: 1px solid rgb(135, 138, 140);
}

.post-title {
  display: block;
  // margin-bottom: 10px;
  padding: 5px 0px;
  margin-top: 15px;
  height: 25px;
}

.post-title > h3 {
  color: #222222;
  font-size: 18px;
  margin-top: 3px;
  padding-bottom: 3px;
}

.post-body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  max-height: 512px;
  margin: 0 auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: left;
}

.post-image {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 10px 0px 5px;
  max-height: fit-content;
  margin: 0 auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: left;
}

.post-link {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  max-height: 200px;
  padding: 10px 0px 5px;
  max-height: fit-content;
  margin: 0 auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: left;
}

.post-body-show {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  padding: 8px 5px 5px 0px;
  text-align: left;
  align-self: flex-start;
  flex-grow: 3;
  flex-basis: 100%;
  margin-bottom: -1px;
}

.post-body p {
  margin: 5px 5px 5px 0px;
}

.top-info {
  max-height: 15px;
  color: #787C7E;
  margin: 0px 3px 0px 0px;
  display: block;
  line-height: 16px;
}

.top-info > span {
  font-size: 12px;
  padding: 0px 10px 0px 0px;
  margin: 0px;
  line-height: 16px;
}

.time-ago > span {
  padding: 0px 0px 0px 14px;
  display: inline-block;
}

.post-bottom {
  // max-height: 32px;
  // min-height: 32px;
  // padding: 5px 8px 0px 4px;
  // display: flex;
  // align-items: baseline;
  // position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  -ms-flex-align: baseline;
  align-items: flex-end;
  justify-items: center;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  overflow: hidden;
  padding: 0 8px 0 4px;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

// .comments {
//   display: inline-flex;
//   align-items: center;
//   padding: 5px 0px;
// }

.comments {
  // display: inline-block;
  // line-height: 1.5;
  text-transform: capitalize;
  // vertical-align: middle;
  color: #878A8C;
  // font-size: 12px;
  // font-family: IBMPlexSans, Arial, sans-serif;
  // font-weight: 700;
  // padding: 0px 3px;
  font-size: 12px;
  font-weight: 700;
  // line-height: 12px;
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 16px;
  overflow: hidden;
  padding: 0 8px 0 0px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  align-items: baseline;
  justify-content: flex-start;
}

.post-head {
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

i.comment-btn {
  color: #878A8C;
  height: 16px;
  width: 16px;
  font-size: 12px;
  padding-right: 5px;
}

.bottom-fade {
  -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
  mask-image: linear-gradient(180deg,#000 60%,transparent);
  overflow: hidden;
  padding: 5px 0px 25px 0px;
  max-height: 250px;
}

.remove-post {
  text-transform: capitalize;
  color: #878A8C;
  font-size: 12px;
  font-weight: 700;
  -ms-flex-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 16px;
  overflow: hidden;
  padding: 0 8px 0 0px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  align-items: baseline;
  justify-content: flex-end;
  cursor: pointer;
}

.subcat-name {
  display: block;
  text-decoration: none;
  color: #878A8C;
  cursor: pointer;
}

.subcat-name > a {
   text-decoration: none;
   color: inherit;
}