// Place all the styles related to the api/subcattits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .subcattit-grid {
//   grid: 20% auto 20%;
// }

.subcattit-container {
  font-family: inherit;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 25px 15px 25px 15px;
  margin: 0px, 50px, 0px, 50px;
}

.subcat-feed-container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.top-banner {
  max-height: 164px;
  width: 100%;
  background-position: bottom;
  background-size: cover;
  // background-image: asset-url('catnip.jpg');
  background-color: #FFF;
  overflow: hidden;
}

.top-banner img {
  // max-height: 164px;
  width: inherit;
  display: block;
  // margin-top: -25%;
  // margin-bottom: auto;
}

.desc-banner {
  width: 100%;
  background-color: #FFF;
  height: 100px;
  display: flex;
}

.header-content {
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  justify-content: center;
  height: 78px;
  width: inherit;
  margin: 0px 84px;
  padding: 10px 0px 16px;
}


.header-title {
  color: #1c1c1c;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-transform: capitalize;
  display: block;
}

.text-container {
  display: inline-block;
  width: 375px;
  height: 56px;
  padding: 0px 28px 12px 32px;
}

.subcat-title {
  color: #7C7C7C;
  font-size: 14px;
  margin: 4px 0px 0px;
  text-transform: none;
}


.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 312px;
  box-sizing: border-box;
  margin-left: 20px;
}

@media all and (max-width: 1050px) and (min-width: 300px){
  .sidebar-container {
    display: none;
  }
}

.box {
  display: flex;
  flex-direction: column;
  width: 312px;
  border-radius: 4px;
  border: 1px solid transparent;
  height: 325px;
  margin-bottom: 20px;
}

.box-banner {
  display: flex;
  box-sizing: border-box;
  background-color: #3882dc;
  border-radius: 4px 4px 0 0;
  border: 1px solid transparent;
  min-height: 46px;
  font-weight: 700;
}

.box-title {
  padding: 15px 12px 12px 15px;
  font-weight: 500;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
  color: #FFF;
  // font-family: IBMPlexSans, Arial, sans-serif;

}

.box-content {
  display: flex;
  box-sizing: border-box;
  padding: 15px 15px;
  border-radius: 0px 0px 4px 4px;
  letter-spacing: .5px;
  height: 100%;
  background-color: #FFF;
  flex-direction: column;
  justify-content: space-between;
}

.spacer {
  display: inline-block;
  width: 30px;
}

.description {
  display: inline-block;
}

span.description {
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  word-wrap: break-word;
  // padding-top: 20px;
}

.subcat-title > h1 {
  color: #1c1c1c;
  display: block;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
  text-overflow: ellipsis;
  line-height: 32px;
  // display: inline-block;
  // width: 100%;
}

.follow-btn-container {
  display: flex;
  padding: 1px 9px;
  width: 96px;
  height: 32px;
}

.follow-btn {
  fill: #0079d3;
  color: #0079d3;
  width: 96px;
  background-color: #FFF;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #0079d3;
  border-radius: 4px;
  outline: 0;
  transition: color .01s ease-in,text-indent .25s ease-in,opacity .25s ease-in;
  cursor: pointer;
}

.follow-btn:hover {
  background-color: #0079d3;
  color: #FFF;
}

.follow-btn-text {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .5px;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
}

.header-pic {
  border-radius: 100%;
  border: 4px solid #fff;
  display: inline-block;
  max-height: 72px;
  max-width: 72px;
  min-height: 72px;
  min-width: 72px;
  margin-top: -24px !important;
  overflow: hidden;
}

.header-pic img {
  height: 20%;
  width: auto;
}

.mini-header-pic {
  border-radius: 100%;
  border: 4px solid #fff;
  display: inline-block;
  width: 54px;
  height:54px;
  // max-height: 30px;
  // min-width: 30px;
  // margin-top: -24px !important;
  overflow: hidden;
  display:block;
}

.sidebar-icon-container {
  display: flex;
  align-items: center;
  // justify-content: flex-start;
}

.mini-sidebar-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  display: block;
  padding-left: 5px;

  // font-family: IBMPlexSans, Arial, sans-serif;
}

// .mini-header-pic img {
//   height: auto;
//   width: 5%;
// }


.subscriber-info {
  padding-right: 4px;
  height: 32px;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  width: 50%;
}

span.subtitle {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  word-break: break-word;
  color: var(--newCommunityTheme-widgetColors-sidebarWidgetTextColor);
  margin-bottom: 10px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--newCommunityTheme-line);
  padding: 15px 5px 22px;
}


span.stats {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.create-box {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--newCommunityTheme-line);
}

span.created-at {
  font-family: Noto Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #1A1A1B;
  padding-top: 10px;
}

.create-btn {
  fill: #0079d3;
  color: #FFF;
  width:100%;
  height: 34px;
  background-color: #0079d3;
  display: inline-block;
  padding: 0px 16px;
  margin: 16px 0px 5px 0px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  transition: color .01s ease-in,text-indent .25s ease-in,opacity .25s ease-in;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 32px;
  text-transform: uppercase;
  cursor: pointer;
}

.create-btn > a {
  color: #FFF;
  text-decoration: none;
}

.create-btn:hover {
  background-color:rgba(0,121,211,0.5);
  border: 1px solid transparent;
}

.mini-submit {
  background-color: var(--newRedditTheme-body);
  border-radius: 4px;
  border: 1px solid var(--newRedditTheme-postLine);
  display: -ms-flexbox;
  display: block;
  margin-bottom: 16px;
  padding: 8px;
  max-width: 565px;
}

.mini-submit:hover {
  border: 1px solid rgb(135, 138, 140);
}

input.mini-input {
  background-color: var(--newRedditTheme-field);
  border-radius: 4px;
  // border: 1px solid var(--newRedditTheme-line);
  color: var(--newRedditTheme-bodyText);
  box-sizing: border-box;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-height: 38px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: inherit;
  resize: none;
  overflow-x: hidden; 
  overflow-wrap: break-word; 
  padding: 8px 68px 8px 16px;
  display: block;
  outline: none;
  border: 1px solid var(--newCommunityTheme-line);
  border-radius: 4px;
  width: 100%;
}

.subcattit-link {
  display: block;
  border-bottom: 1px solid var(--newCommunityTheme-line);
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.subcattit-link:hover {
  background-color: #F8F9FA;
  // background-color: #0079d3;
  color: #0079d3;
}

.created-at > i {
  padding-right: 10px;
}