.header {
  background-color: #FFF;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 32px;
  padding: 8px;
  padding-left: 0;
  line-height: 16px;
  border-bottom: 1px solid var(--newCommunityTheme-line);

 }

 .header .top-buttons {
   display: flex;
   margin-bottom: -1px;
   border-left: 1px solid var(--newCommunityTheme-line);
   margin-left: 8px;
   padding-left: 8px;
   margin-right: 5px;
   padding-right: 5px;
 }

 .logo {
   display: flex;
   padding: 5px;
   padding-top: 4px;
   padding-left: 10px;
   align-items: center;
   margin-bottom: -1px;
 }

 .logo.top-logo {
   height: 32px;
 }

 .logo.top-text {
   padding-left: 3px;
   height: 18px;
 }

 .btn.login {
  color: #0079d3;
  background-color: white;
  border: 1px solid #0079d3;
 }

 .btn.signup {
   color: white;
   background-color: #0079d3;
 }

 .btn.login:hover {
   color: rgba(0,121,211,0.5);
   border: 1px solid rgba(0,121,211,0.7);
 }

 .btn.signup:hover{
   background-color:rgba(0,121,211,0.5);
 }

 .btn {
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 3px 2.2em 3px;
  font-size: 13px;
  font-weight: 700;
  margin: 0 5px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

.dropdown-btn {
  border: 1px solid var(--newCommunityTheme-line);
  border-radius: 4px;
  margin-right: 5px;
  padding-right: 25px;
  cursor: pointer;
}

.show > .dropdown {
  position: relative;
  overflow: hidden;
  float: left;
}


 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-icon {
  width: 25px;
  height: 25px;
}

svg.dropdown-icon {
  fill: #DAE0E6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
