.header {
  background-color: #FFF;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 32px;
  padding: 8px;
  padding-left: 0;
  line-height: 16px;
  border-bottom: 1px solid var(--newCommunityTheme-line);

 }

 .header .top-buttons {
   display: flex;
   margin-bottom: -1px;
   border-left: 1px solid var(--newCommunityTheme-line);
   margin-left: 8px;
   padding-left: 8px;
   margin-right: 5px;
   padding-right: 5px;
 }

 .logo {
   display: flex;
   padding: 5px;
   padding-top: 4px;
   padding-left: 10px;
   align-items: center;
   margin-bottom: -1px;
 }

 .logo.top-logo {
   height: 32px;
 }

 .logo.top-text {
   padding-left: 3px;
   height: 18px;
 }

 .btn.login {
  color: #0079d3;
  background-color: white;
  border: 1px solid #0079d3;
 }

 .btn.signup {
   color: white;
   background-color: #0079d3;
 }

 .btn.login:hover {
   color: rgba(0,121,211,0.5);
   border: 1px solid rgba(0,121,211,0.7);
 }

 .btn.signup:hover{
   background-color:rgba(0,121,211,0.5);
 }

 .btn {
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px;
  line-height: 24px;
  padding: 3px 2.2em 3px;
  font-size: 13px;
  font-weight: 700;
  margin: 0 5px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

.dropdown-btn {
  border: 1px solid var(--newCommunityTheme-line);
  border-radius: 4px;
  // text-align: left;
  // justify-items: space-between;
  // border: 1px solid transparent;
  // border-radius: 4px;
  box-sizing: border-box;
  margin-right: 30px;
  padding-right: 5px;
  position: relative;
  display: inline-block;
  width: 180px;
  outline: 0;
  cursor: pointer;
}

.grid {
  display: inline-grid;
  width: 170px;
  grid-template-columns: 30px auto auto 30px;
  grid-template-rows: auto;
  padding: 5px;
}

.dropdown-content {
  position: absolute;
  box-sizing: border-box;
  margin-top: -5px;
  padding-right: 5px;
  width: 180px;
  background-color: #FFF;
  // text-align: center;
  box-shadow: 5px 15px 31px -11px #EAEAEA;
  z-index: 1;
  border-radius: 4px;
  border: 1px solid var(--newCommunityTheme-line);
  border-top: none;
}

.dropdown-content ul {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

.dropdown-icon {
  width: 25px;
  height: 25px;
  text-align: center;
}


.dropdown-icon.left {
  padding-right: 10px;
  grid-column-start: 1;
  grid-row-start: 1;
 
}

.dropdown-icon.right{
  grid-column-start: 4;
  grid-row-start: 1;
}


.dropdown-greet {
  grid-column-start: 2;
  grid-row-start: 1;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 16px;
  color: var(--newCommunityTheme-bodyText);
  // display: block;
  white-space: nowrap;
  text-transform: lowercase;
  pointer-events: none;
}

svg.btn-fill {
  fill: var(--newCommunityTheme-actionIcon);
}

.logout {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--newCommunityTheme-line);
  // border: 1px solid transparent;
  justify-items: space-between;
  align-items: center;
}

.logout-btn {
  display: inline-block;
  width: 25px;
}

.logout-text{
  display: inline-block;

  font-size: 12px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 16px;
  text-transform: capitalize;
  cursor: pointer;
}

// .dropdown:hover .dropdown-content {
//   display: block;
// }

// .dropdown-content a:hover {background-color: #f1f1f1;}
